div#overlay {
	display: none;
	z-index: 3;
	background: #000;
	position: fixed;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	top: 0px;
	left: 0px;
	text-align: center;
}
div#specialBox {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 5;
	overflow:auto;
	width: 600px; 
	height: 600px;
	margin-left: -300px;
	margin-top: -300px;
	border-radius: 10px;
	border: 2px solid gray;
	background: #FFF;
	color: #000;
}
div#wrapper {
	position:relative;
	top: 0px;
	left: 0px;
	padding-left:24px;
}
div#customerView {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 5;
	overflow:auto;
	width: 600px; 
	height: 600px;
	margin-left: -300px;
	margin-top: -300px;
	border-radius: 10px;
	border: 2px solid gray;
	background: #FFF;
	color: #000;
}
div#wrapper1 {
	position:relative;
	top: 0px;
	left: 0px;
	padding-left:24px;
}

.hoverTable{
	width:100%; 
	border-collapse:collapse; 
}
.hoverTable td{ 
	padding:7px; border:#4e95f4 1px solid;
}
/* Define the default color for all the table rows */
.hoverTable tr{
	background: #b8d1f3;
}
/* Define the hover highlight color for the table row */
.hoverTable tr:hover {
    background-color: #ffff99;
}